.introductorySectionContainer {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insideIntroductorySectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.pictureBlockContainer {
  padding: 0px 40px;
  width: 300px;
}

/* TextBlock.jsx */

.quickLinksContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.svgStylesTwo {
  font-size: 2.2rem;
  transition: all 0.2s ease-in-out;
  color: #2d2e32;
  cursor: pointer;
}

.svgStylesTwo:hover {
  color: #16a085;
}

.svgStylesOne {
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  color: #2d2e32;
  cursor: pointer;
}

.svgStylesOne:hover {
  color: #16a085;
}

.cursor {
  position: relative;
  bottom: -3px;
  display: inline-block;
  background: #16a085;
  margin-left: 5px;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  width: 10px;
  /* height: 27px; */
}

.notBlinkingCursor {
  position: relative;
  bottom: -3px;
  display: inline-block;
  background: #16a085;
  margin-left: 5px;
  width: 10px;
  /* height: 27px; */
}

@-webkit-keyframes blink {
  0% {
    background: none;
  }
  50% {
    background: #16a085;
  }
  100% {
    background: none;
  }
}

/* TechStack.jsx */

.techStackContainer {
  display: flex;
  align-items: center;
}

.techStackContainer p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-weight: 600;
  font-size: 1.5rem;
  padding-right: 1rem;
  margin-right: 2rem;
}

.techStackContainer img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
}
