.containerOfContact {
  padding: 6rem 0;
}

/* ContactText.jsx */
.containerContactText {
  padding-bottom: 3rem;
}

.containerContactText h3 {
  color: #147efb;
  margin-bottom: 1rem;
  cursor: pointer;
}

.containerContactText p {
  color: #2d2e32;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: default;
}

/* EmailMessage.jsx */
.formEmail {
  display: flex;
  flex-direction: column;
  width: 520px;
}

.nameEmailBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.nameEmailBlock div {
  display: flex;
  flex-direction: column;
}
.formEmail label {
  font-size: 1.1rem;
  color: #2d2e32;
}

.nameEmailBlock input {
  width: 240px;
  height: 40px;
  padding: 0px 10px;
  border: 2px solid #2d2e32;
  border-radius: 4px;
  user-select: none;
  outline: none;
}

.formEmail textarea {
  padding: 10px 10px;
  height: 150px;
  border: 2px solid #2d2e32;
  border-radius: 4px;
  user-select: none;
  outline: none;
  margin-bottom: 1.5rem;
}

.buttonSubmit {
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  border: 2px solid #2d2e32;
  cursor: pointer;
  background-color: #efefef;
}

.buttonLoading {
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  border: 2px solid #2d2e32;
  cursor: pointer;
  background-color: #efefef;
}

/*LinksToContacts.jsx */

.linksToContactsContainer {
  display: flex;
  gap: 5rem;
  padding-bottom: 3rem;
}

.myLocation,
.myMail {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.myLocation h3,
.myMail h3 {
  font-size: 1.2rem;
  color: #2d2e32;
}
.myLocation p,
.myMail a {
  font-size: 1rem;
  color: #767676;
  transition: all 0.1s ease-in-out;
}

.myLocation:hover p,
.myMail:hover a {
  color: #147efb;
}

.showFormButton {
  display: inline-block;
  color: #147efb;
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  cursor: pointer;
}

.showFormButton:hover {
  text-decoration: none;
}
