.web {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
  height: 100%;
}

.web__tech {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
}

.web__tech__header {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.web__tech__header h3,
.web__tech__stack p {
  font-family: "Open-sans";
  font-weight: bold;
}

.web__tech__header h3 {
  color: #2d2e32;
  font-size: 3rem;
}

.web__tech__header p {
  color: #000;
  font-family: "Open-sans";
  font-size: 16px;
}

.web__tech__stack {
  display: flex;
  align-items: center;
}

.web__tech__stack p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-weight: 600;
  font-size: 1.5rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pictureOfTheBestProgrammerInTheWorld {
  padding: 0px 40px;
  width: 300px;
}

.icons_style {
  border-radius: 10px;
  width: 45px;
  height: 45px;
  transition: all 0.2s ease-out;
}

.icons_style:hover {
  transform: translateY(-3px);
}

@media (max-width: 1050px) {
  .web__tech__header {
    gap: 1rem;
  }

  .web__tech__header h3 {
    font-size: 2rem;
  }

  .web__tech__header p {
    font-size: 14px;
  }

  .web__tech__stack p {
    font-size: 1.2rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
  }

  .icons_style {
    width: 35px;
    height: 35px;
  }

  .pictureOfTheBestProgrammerInTheWorld,
  .pictureOfTheBestProgrammerInTheWorld img {
    padding: 0px;
    width: 200px;
  }
}

@media (max-width: 885px) {
  .web {
    flex-direction: column-reverse;
  }

  .web__tech {
    gap: 3rem;
  }

  .web__tech__stack {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .web__tech__stack p {
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    padding-right: 0rem;
    margin-right: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
  }

  .icons_style {
    width: 45px;
    height: 45px;
  }

  .web__tech__header {
    align-items: center;
  }

  .web__tech__header h3 {
    font-size: 2rem;
  }

  .web__tech__header p {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 470px) {
  .web__tech__header h3 {
    font-size: 1.5rem;
  }

  .web__tech__header p {
    font-size: 14px;
    text-align: center;
  }
}
