.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
}

.aboutWrapper aside {
  color: #147efb;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.aboutWrapper aside:hover {
  text-decoration: none;
}

.aboutMyselfContainer {
  display: flex;
  align-items: flex-start;
}

/* PictureInAboutMyself.jsx */

.pictureBlock {
  min-width: 350px;
}
.pictureBlock img {
  width: 350px;
}

/* TextInAboutBlock.jsx */

.containerText {
  width: 100%;
  padding: 20px 40px 0px 40px;
}
.containerText p {
  padding: 10px 0px;
  font-size: 1rem;
  color: #767676;
}

.containerText h3 {
  font-size: 1.2rem;
  color: #147efb;
  cursor: pointer;
}

.containerText h4 {
  padding-top: 10px;
  font-size: 1.5rem;
  color: #2d2e32;
}

/*  */
.digitalMinimalist h3 {
  padding: 2rem 0 0 0;
  font-size: 1.3rem;
  color: #2d2e32;
}

.digitalMinimalist p {
  padding: 2rem 0 0 0;
  font-size: 1rem;
  color: #767676;
}

@media (max-width: 915px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 0;
  }

  .aboutMyselfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerText {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }

  .containerText h3 {
    font-size: 1.5rem;
    color: #147efb;
    cursor: pointer;
  }

  .containerText h4 {
    padding-top: 10px;
    font-size: 1.2rem;
    color: #2d2e32;
  }

  .pictureBlock {
    min-width: 250px;
  }
  .pictureBlock img {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .pictureBlock {
    min-width: 150px;
  }
  .pictureBlock img {
    width: 150px;
  }
}
