.containerOfProjects {
  padding: 10rem 0;
}

.projectContainerBlockLeft,
.projectContainerBlockRight {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.projectContainerBlockRight {
  /* display: flex; */
  flex-direction: row-reverse;
  /* gap: 8rem;
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.pictureContainerOne,
.pictureContainerTwo {
  width: 25rem;
  height: auto;
  overflow: hidden;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pictureContainerOne img,
.pictureContainerTwo img {
  width: 100%;
  height: auto;
  transition: transform 3s ease-in-out;
}

.pictureContainerOne:hover img {
  transform: translateY(-34%);
}
.pictureContainerTwo:hover img {
  transform: translateY(-62%);
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 20rem;
}

.textContainer h4 {
  align-items: center;
  color: #2d2e32;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.textContainer span {
  color: #151313c5;
  font-size: 0.9rem;
}

.projectLinksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.projectLinksContainer a {
  color: #2d2e32;
  font-size: 1rem;
  font-weight: 600;
  gap: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.projectLinksContainer a:hover {
  color: #16a085;
}

.projectLinksContainer svg {
  font-size: 1.5rem;
}

/* NameSection.jsx */

.containerOfNameSection {
  padding: 0rem 0rem 3em 0rem;
  height: 130px;
}

.containerOfNameSection h3 {
  color: #147efb;
  cursor: pointer;
  margin-bottom: 1rem;
}

.containerOfNameSection p {
  color: #2d2e32;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: default;
}

@media (max-width: 1005px) {
  .projectContainerBlockLeft,
  .projectContainerBlockRight {
    align-items: center;
    flex-direction: column-reverse;
    gap: 4rem;
    height: auto;
    margin-bottom: 2rem;
  }

  .pictureContainerOne,
  .pictureContainerTwo {
    width: 20rem;
    height: 16.7rem;
    overflow: hidden;
    border-radius: 1.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .containerOfNameSection {
    padding: 0rem 0rem 10rem 0rem;
  }
}

@media (max-width: 470px) {
  .containerOfNameSection {
    height: auto;
    padding: 0rem 0rem 3rem 0rem;
  }

  .textContainer {
    width: 100%;
  }

  .textContainer h4 {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .pictureContainerOne,
  .pictureContainerTwo {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .pictureContainerOne img,
  .pictureContainerTwo img {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: transform 3s ease-in-out;
  }

  .pictureContainerOne:hover img {
    transform: translateY(0%);
  }
  .pictureContainerTwo:hover img {
    transform: translateY(0%);
  }
}
