.contactMeHeader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  background-image: url(/src/assets/pictures/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactMeHeader h3 {
  font-family: 'Poppins-bold';
  font-size: 2rem;
  padding: 30px 0px;
  color: #2d2e32;
}

/* 
links
 */

.contentContainer {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 1.5rem;
}

.myInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.myInfo h3 {
  font-family: 'Poppins-bold';
  font-size: 1.2rem;
}

.myInfo p {
  font-family: 'Open-sans';
  font-size: 1rem;
}

.myInfo h3,
.myInfo p {
  color: #2d2e32;
}

.myInfoIcons {
  border-radius: 50%;
  background: #fff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form */

.formEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.formEmail textarea {
  padding: 10px 10px;
  height: 150px;
  border: 2px solid #2d2e32;
  border-radius: 4px;
  user-select: none;
  outline: none;
  margin-bottom: 1.5rem;
  resize: none;
}

.nameEmailBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 1rem;
}

.nameEmailBlock div {
  display: flex;
  flex-direction: column;
}
.formEmail label {
  font-size: 1.1rem;
  color: #2d2e32;
}

.nameEmailBlock input {
  width: 240px;
  height: 40px;
  padding: 0px 10px;
  border: 2px solid #2d2e32;
  border-radius: 4px;
  user-select: none;
  outline: none;
}

.buttonLoading {
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  border: 2px solid #2d2e32;
  cursor: pointer;
  background-color: #efefef;
}

.buttonSubmit {
  width: 100%;
  padding: 10px 0px;
  border-radius: 4px;
  border: 2px solid #2d2e32;
  cursor: pointer;
  background-color: #efefef;
}

.formEmail,
input[type='submit'] {
  font-family: 'Open-sans';
}

input[type='submit'] {
  font-size: 1rem;
}

@media (max-width: 1055px) {
  .contentContainer {
    padding: 1rem 3rem;
  }

  .formEmail textarea,
  .nameEmailBlock input {
    width: 100%;
  }
}

@media (max-width: 887px) {
  .contactContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 1.5rem;
  }

  .contentContainer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 4rem;
    padding: 30px 20px 40px 20px;
  }
}
