.headerBigScreen {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  font-size: 1.2rem;
  font-weight: 600;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.headerBigScreen h3 a {
  text-decoration: none;
  color: #2d2e32;
  cursor: pointer;
}
.headerBigScreen ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.headerBigScreen ul li {
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
}

.headerBigScreen ul li a {
  text-decoration: none;
  color: #2d2e32;
  transition: all 0.1s ease-in-out;
}
.headerBigScreen ul li a:hover {
  color: #147efb;
}
