.desktopHeaderContainer {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 999;
}

.desktopHeaderInContainer {
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  padding: 0px 30px;
}

.desktopHeaderMainPart {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 10px 30px;

  border-radius: 8px;
  backdrop-filter: blur(8px);
  background-color: rgba(66, 69, 70, 0.8);
}

.listContainer {
  width: 100%;
}
.listContainer li,
.listContainer a {
  height: 100%;
  padding: 0px 16px;
}

.headerIconContainer {
  width: 80px;
  height: 100%;
  padding-right: 20px;
}

.headerIconContainer img {
  width: 100%;
  object-fit: contain;
}

.otherLinksDrop {
  position: relative;
  padding: 0px 24px;
  margin-right: 10px;

  color: #fff;
  font-family: 'Poppins-bold';
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.otherLinksDrop svg {
  padding-right: 8px;
  font-size: 2rem;
}

.contactButton {
  padding: 0px 24px;
  border-radius: 8px;
  background-color: #1272e0;
}
.contactButton:hover {
  background-color: #147efb;
}

.listContainer,
.listContainer li,
.listContainer a,
.headerIconContainer,
.otherLinksDrop,
.contactButton {
  display: flex;
  align-items: center;
}

.listContainer li,
.listContainer a,
.otherLinksDrop p,
.contactButton {
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins-bold';
  font-size: 18px;
  transition: all 0.15s ease-in-out;
}

.listContainer li:hover,
.listContainer a:hover,
.otherLinksDrop:hover,
.linksContent div:hover {
  border-radius: 8px;
  background-color: rgba(58, 61, 61, 0.8);
}

.linksContainer {
  top: 53px;
  right: -26px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: max-content;
  height: 207px;
}

.linksContent {
  width: max-content;
  height: max-content;
  background: #252629;
  padding: 20px;
  border-radius: 8px;
}

.linksContent div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 10px 24px;
  cursor: pointer;
}

.linksContent div p {
  color: #fff;
  font-family: 'Poppins-bold';
  font-size: 18px;
}

.dropDownArrow {
  background: #252629;
  border-color: #0000 #0000 #0000 #0000;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
  height: 16px;
  right: 42%;
  position: absolute;
  top: 10px;
  transform: rotate(45deg) translate(-50%);
  transform-origin: center;
  transition: opacity 0.1s ease;
  width: 16px;
}
