.webCardContainerRight {
  flex-direction: row-reverse;
}

.webCardContainerLeft {
  flex-direction: row;
}

.webCardContainerRight,
.webCardContainerLeft {
  padding: 3rem 5rem;
  display: flex;
  gap: 8rem;
  width: 100%;
  height: 30rem;
}

.imgContainerOne,
.imgContainerTwo {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.imgContainerOne img,
.imgContainerTwo img {
  width: 100%;
  height: auto;
  transition: all 3s ease-in-out;
}

.imgContainerOne:hover img {
  transform: translateY(-62%);
}

.imgContainerTwo:hover img {
  transform: translateY(-34%);
}

.infoCardContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.infoCardContainer h3 {
  align-items: center;
  color: #2d2e32;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.infoCardContainer h3,
.infoCardContainer p,
.technologyContainer p,
.cardLinks span {
  font-family: 'Open-sans';
}

.infoCardContainer p {
  color: #000;
}

.cardLinks,
.technologyContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.technologyContainer p {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: default;
  color: #2d2e32;
}

.cardLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 1.5rem;
}

.cardLinks span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 0.5rem;
  color: #2d2e32;
  font-weight: bold;
}

.cardLinks span svg {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 1285px) {
  .webCardContainerRight,
  .webCardContainerLeft {
    gap: 4rem;
    height: max-content;
    align-items: center;
  }

  .imgContainerOne,
  .imgContainerTwo {
    height: 300px;
  }

  .imgContainerOne:hover img {
    transform: translateY(-0%);
  }

  .imgContainerTwo:hover img {
    transform: translateY(-0%);
  }
}

@media (max-width: 1160px) {
  .infoCardContainer h3 {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
  .infoCardContainer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 971px) {
  .cardLinks,
  .technologyContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 885px) {
  .webCardContainerRight,
  .webCardContainerLeft {
    flex-direction: column-reverse;
  }

  .infoCardContainer h3 {
    font-size: 1.5rem;
  }
  .infoCardContainer p {
    font-size: 1rem;
  }

  .imgContainerOne img,
  .imgContainerTwo img {
    transition: all 3s ease-in-out;
  }

  .imgContainerOne,
  .imgContainerTwo {
    width: 100%;
    max-width: 300px;
    height: 300px;
  }
}

@media (max-width: 680px) {
  .webCardContainerRight,
  .webCardContainerLeft {
    padding: 30px 20px 40px 20px;
  }
}

@media (max-width: 485px) {
  /* change preview pics to icons */
}
