*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-container {
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  padding: 0px 30px;
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../src/assets/fonts/Poppins//Poppins-Bold.ttf');
}
